.oe_grey {
  background-color: #eeeeee;
}
.oe_blue {
  background-color: #0000FF;
}
.oe_red {
  background-color: #FF0000;
}
.oe_magenta {
  background-color: #FF00FF;
}
.oe_yellow {
  background-color: #FFFF00;
}
.oe_green {
  background-color: #00FF00;
}
.oe_brown {
  background-color: #D2691E;
}
.oe_white {
  background-color: #FFFFFF;
}
.oe_pink{
  background-color: #FFC0CB;
}

.oe_color_0{
  background-color: #eeeeee;
}
.oe_color_1{
  background-color: #0000FF;
}
.oe_color_2 {
  background-color: #FF0000;
}
.oe_color_3 {
  background-color: #FFFFF00;
}
.oe_color_4 {
  background-color: #00FF00;
}